html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
}

#sidePanel {
  background-color: #f3f3f3; /* Light grey */
  padding: 0;
  margin: 0;
  left: 0;
  overflow: auto;
  scroll-margin: 0;
  max-height: 100%;
}

.info {
  color: #444;
  background-color: white;
  padding: 5px;
  text-align: left;
  overflow: auto;
  max-height: 400px;
  border-style: solid;
  border-color: #f3f3f3;
  border-width: 10px;
  border-top-width: 15px;
  border-bottom-width: 15px;
}

#results {
  left: 50%;
  top: 50%;
  z-index: -1;
  position: fixed;
  color: rgb(255, 255, 255);
}

#resultsWindow {
  display: none;
  height: 195px;
}

.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}

 /*turn layerlist eyes into checkboxs */
 .esri-icon-non-visible::before {
  content: "\e610"!important;
  }
  .esri-icon-visible::before {
  content: "\e611"!important;
  }
  .esri-basemap-gallery__item-thumbnail {
    height: auto;
    width: 100px !important;
    box-shadow: 0 0 0 1px;
  }